uebung4.pdf
a.out
.gitignore~
Protokoll_CP3_Kaplan-Dummer_UE4.tex~
Protokoll_CP3_Kaplan-Dummer_UE4.aux
Protokoll_CP3_Kaplan-Dummer_UE4.log
Protokoll_CP3_Kaplan-Dummer_UE4.out
CP3_UE4_Kaplan-Dummer.zip
reduction.cu~